.logo {
    height: 32px;
    width: 32px;
}

.logoCircle {
    background-color: rgb(26, 138, 221);
    height: 64px;
    width: 64px;
    margin-right: 20px;
    border-radius: 50%;
}

.library {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.submitButton {
    height: 24px;
    cursor: pointer;
}

.heart {
    content: url("./assets/icons/redHeart.png");
    height: 24px;
    cursor: pointer;
}

.unlike{
    content: url("./assets/icons/redHeartUnlike.png");
    background-image: url("");
}